main {
    background-color: #2d2e32;
    max-width: 100%;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    margin: 0;
    color: #ffffff;
    line-height: 15px;
  }
  .container {
    width: 1350px;
    margin: 0 auto;
    padding: 100px 0;
  }